*.aps
*.user
*.vspscc
*.docstates
*.dotCover
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.log
*.scc
*.yaml
*.wsdl.cs
*.sdf
*.opensdf
[Bb]in
[Oo]bj/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
.svn/
_svn/
*.cs.orig
*.orig
*.vs10x
[Dd]ebug/
[Rr]elease/
ipch/
*.sln.docstates